# system
.DS_Store
Thumbs.db

# docker
.env

# nginx
nginx-data/certs/*
!nginx-data/certs/.gitkeep
nginx-data/conf.d/*
!nginx-data/conf.d/.gitkeep
nginx-data/html/*
!nginx-data/html/.gitkeep
nginx-data/htpasswd/*
!nginx-data/htpasswd/.gitkeep
nginx-data/vhost.d/*
!nginx-data/vhost.d/.gitkeep
